@import "tailwindcss";

@theme{
  --color-dark: #111;
  --color-holdDie: #00BFFF;

  --breakpoint-nm: 450px;
}

@utility die-face{
  @apply size-3 rounded-full bg-white
}

body{
  font-family: "Inter";
}

.die-container{
  box-shadow: 0 0 15px dodgerblue, 0 0 30px #7A00FF inset;
  backdrop-filter: blur(10px);
  background-color: transparent;
}

canvas{
  position: fixed !important;
}

